USE [master]
GO
/****** Object:  Database [Alexa]    Script Date: 29/10/2014 17:45:35 ******/
CREATE DATABASE [Alexa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Alexa', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Alexa.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Alexa_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Alexa_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Alexa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Alexa]
GO
/****** Object:  Table [dbo].[BlockingCountries]    Script Date: 29/10/2014 17:45:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockingCountries](
	[BlockingCountriesId] [int] NOT NULL,
	[SimulationId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_BlockingCountries] PRIMARY KEY CLUSTERED 
(
	[BlockingCountriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BrowserDistribution]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrowserDistribution](
	[BrowserDistributionId] [int] IDENTITY(1,1) NOT NULL,
	[BrowserName] [varchar](50) NOT NULL,
	[BrowserVersion] [varchar](50) NOT NULL,
	[StartingNumber] [float] NOT NULL,
 CONSTRAINT [PK_BrowserDistribution] PRIMARY KEY CLUSTERED 
(
	[BrowserDistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMSSoftware]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMSSoftware](
	[CMSId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Share] [float] NOT NULL,
 CONSTRAINT [PK_CMSSoftware] PRIMARY KEY CLUSTERED 
(
	[CMSId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CMSVersion]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMSVersion](
	[CMSVersionId] [int] IDENTITY(1,1) NOT NULL,
	[CMSId] [int] NOT NULL,
	[Version] [varchar](30) NOT NULL,
	[Share] [float] NOT NULL,
 CONSTRAINT [PK_CMSVersion] PRIMARY KEY CLUSTERED 
(
	[CMSVersionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[URL] [varchar](256) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HostingProviders]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HostingProviders](
	[HostId] [int] IDENTITY(1,1) NOT NULL,
	[HostName] [varchar](100) NULL,
	[Country] [int] NULL,
	[MarketShare] [float] NULL,
	[Domains] [int] NULL,
 CONSTRAINT [PK_HostingProviders] PRIMARY KEY CLUSTERED 
(
	[HostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HostPerCountry]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostPerCountry](
	[HostCountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_HostPerCountry] PRIMARY KEY CLUSTERED 
(
	[HostCountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Simulation]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Simulation](
	[SimulationId] [int] NOT NULL,
	[NetworkSeed] [bigint] NOT NULL,
	[SimulationSeed] [bigint] NOT NULL,
	[VigilantUsers] [float] NULL,
	[VigilantWebsites] [float] NULL,
 CONSTRAINT [PK_Simulation] PRIMARY KEY CLUSTERED 
(
	[SimulationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SimulationTurn]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SimulationTurn](
	[SimulationTurnId] [int] IDENTITY(1,1) NOT NULL,
	[SimulationId] [int] NOT NULL,
	[TurnNo] [int] NOT NULL,
	[Infected] [int] NOT NULL,
	[Recovered] [int] NOT NULL,
 CONSTRAINT [PK_SimulationTurn] PRIMARY KEY CLUSTERED 
(
	[SimulationTurnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Websites]    Script Date: 29/10/2014 17:45:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Websites](
	[WebsiteId] [int] NOT NULL,
	[URL] [varchar](256) NOT NULL,
	[Country] [varchar](30) NOT NULL,
	[ReachPerMillion] [int] NOT NULL,
	[PageViewsPerMillion] [int] NOT NULL,
	[PageViewsPerUser] [int] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK_Websites] PRIMARY KEY CLUSTERED 
(
	[WebsiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BrowserDistribution] ON 

INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (1, N'MSIE', N'8.0', 0.223238)
INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (2, N'MSIE', N'11.0', 0.354736)
INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (3, N'Chrome', N'32.0', 0.45603)
SET IDENTITY_INSERT [dbo].[BrowserDistribution] OFF
SET IDENTITY_INSERT [dbo].[CMSSoftware] ON 

INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (1, N'WordPress', 59.9)
INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (2, N'Joomla', 8.3)
INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (3, N'Drupal', 5.2)
SET IDENTITY_INSERT [dbo].[CMSSoftware] OFF
SET IDENTITY_INSERT [dbo].[CMSVersion] ON 

INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (3265, 36, N'Version 5.3.3.1', 0.011424)
INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (3266, 36, N'Version 5.4.0.5', 0.023409)
INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (3267, 36, N'Version 5.4.1.1.1', 0.062271)
GO
SET IDENTITY_INSERT [dbo].[CMSVersion] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (239, N'United States', N'http://www.webhosting.info/webhosts/tophosts/Country/US')
INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (240, N'Germany', N'http://www.webhosting.info/webhosts/tophosts/Country/DE')
INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (241, N'United Kingdom', N'http://www.webhosting.info/webhosts/tophosts/Country/UK')
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[HostingProviders] ON 

INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (2, N'WILDWESTDOMAINS.COM', 239, 0.45078, 36508489)
INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (3, N'NETWORKSOLUTIONS.COM', 239, 0.04134, 3348108)
INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (4, N'ENOM.COM', 239, 0.036134, 2926464)
GO
SET IDENTITY_INSERT [dbo].[HostingProviders] OFF
SET IDENTITY_INSERT [dbo].[HostPerCountry] ON 

INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (2, 239, 15823)
INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (3, 240, 2141)
INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (4, 241, 2045)
GO
SET IDENTITY_INSERT [dbo].[HostPerCountry] OFF
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (1, N'google.com', N'unlisted', 490100, 99575, 21, 1)
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (2, N'facebook.com', N'USA', 425400, 65237, 16, 2)
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (4, N'youtube.com', N'US', 345200, 38157, 12, 3)
GO
/****** Object:  Index [IX_BlockingCountries]    Script Date: 29/10/2014 17:45:36 ******/
CREATE NONCLUSTERED INDEX [IX_BlockingCountries] ON [dbo].[BlockingCountries]
(
	[BlockingCountriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CMSSoftware] ADD  CONSTRAINT [DF_CMSSoftware_Share]  DEFAULT ((0.0)) FOR [Share]
GO
ALTER TABLE [dbo].[BlockingCountries]  WITH CHECK ADD  CONSTRAINT [FK_BlockingCountries_Countries] FOREIGN KEY([BlockingCountriesId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[BlockingCountries] CHECK CONSTRAINT [FK_BlockingCountries_Countries]
GO
ALTER TABLE [dbo].[BlockingCountries]  WITH CHECK ADD  CONSTRAINT [FK_BlockingCountries_Simulation] FOREIGN KEY([SimulationId])
REFERENCES [dbo].[Simulation] ([SimulationId])
GO
ALTER TABLE [dbo].[BlockingCountries] CHECK CONSTRAINT [FK_BlockingCountries_Simulation]
GO
ALTER TABLE [dbo].[SimulationTurn]  WITH CHECK ADD  CONSTRAINT [FK_SimulationTurn_Simulation] FOREIGN KEY([SimulationId])
REFERENCES [dbo].[Simulation] ([SimulationId])
GO
ALTER TABLE [dbo].[SimulationTurn] CHECK CONSTRAINT [FK_SimulationTurn_Simulation]
GO
USE [master]
GO
