USE [Alexa]
GO
/****** Object:  Table [dbo].[Websites]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Websites](
	[WebsiteId] [int] NOT NULL,
	[URL] [varchar](256) NOT NULL,
	[Country] [varchar](30) NOT NULL,
	[ReachPerMillion] [int] NOT NULL,
	[PageViewsPerMillion] [int] NOT NULL,
	[PageViewsPerUser] [int] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK_Websites] PRIMARY KEY CLUSTERED 
(
	[WebsiteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (1, N'google.com', N'unlisted', 490100, 99575, 21, 1)
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (2, N'facebook.com', N'USA', 425400, 65237, 16, 2)
INSERT [dbo].[Websites] ([WebsiteId], [URL], [Country], [ReachPerMillion], [PageViewsPerMillion], [PageViewsPerUser], [Rank]) VALUES (4, N'youtube.com', N'US', 345200, 38157, 12, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[HostPerCountry]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HostPerCountry](
	[HostCountryId] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_HostPerCountry] PRIMARY KEY CLUSTERED 
(
	[HostCountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HostPerCountry] ON
INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (2, 239, 15823)
INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (3, 240, 2141)
INSERT [dbo].[HostPerCountry] ([HostCountryId], [CountryId], [Amount]) VALUES (4, 241, 2045)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[HostPerCountry] OFF
/****** Object:  Table [dbo].[HostingProviders]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HostingProviders](
	[HostId] [int] IDENTITY(1,1) NOT NULL,
	[HostName] [varchar](100) NULL,
	[Country] [int] NULL,
	[MarketShare] [float] NULL,
	[Domains] [int] NULL,
 CONSTRAINT [PK_HostingProviders] PRIMARY KEY CLUSTERED 
(
	[HostId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[HostingProviders] ON
INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (2, N'WILDWESTDOMAINS.COM', 239, 0.45078, 36508489)
INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (3, N'NETWORKSOLUTIONS.COM', 239, 0.04134, 3348108)
INSERT [dbo].[HostingProviders] ([HostId], [HostName], [Country], [MarketShare], [Domains]) VALUES (4, N'ENOM.COM', 239, 0.036134, 2926464)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
SET IDENTITY_INSERT [dbo].[HostingProviders] OFF
/****** Object:  Table [dbo].[Countries]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[URL] [varchar](256) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON
INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (239, N'United States', N'http://www.webhosting.info/webhosts/tophosts/Country/US')
INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (240, N'Germany', N'http://www.webhosting.info/webhosts/tophosts/Country/DE')
INSERT [dbo].[Countries] ([CountryId], [Country], [URL]) VALUES (241, N'United Kingdom', N'http://www.webhosting.info/webhosts/tophosts/Country/UK')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Countries] OFF
/****** Object:  Table [dbo].[CMSVersion]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMSVersion](
	[CMSVersionId] [int] IDENTITY(1,1) NOT NULL,
	[CMSId] [int] NOT NULL,
	[Version] [varchar](30) NOT NULL,
	[Share] [float] NOT NULL,
 CONSTRAINT [PK_CMSVersion] PRIMARY KEY CLUSTERED 
(
	[CMSVersionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CMSVersion] ON
INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (1106, 36, N'5', 100)
INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (1107, 36, N'5.3.3.1', 100)
INSERT [dbo].[CMSVersion] ([CMSVersionId], [CMSId], [Version], [Share]) VALUES (1108, 36, N'5.3.3', 71.4)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
SET IDENTITY_INSERT [dbo].[CMSVersion] OFF
/****** Object:  Table [dbo].[CMSSoftware]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CMSSoftware](
	[CMSId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Share] [float] NOT NULL,
 CONSTRAINT [PK_CMSSoftware] PRIMARY KEY CLUSTERED 
(
	[CMSId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CMSSoftware] ON
INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (1, N'WordPress', 59.9)
INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (2, N'Joomla', 8.3)
INSERT [dbo].[CMSSoftware] ([CMSId], [Name], [Share]) VALUES (3, N'Drupal', 5.2)
SET IDENTITY_INSERT [dbo].[CMSSoftware] OFF
/****** Object:  Table [dbo].[BrowserDistribution]    Script Date: 05/17/2014 01:22:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BrowserDistribution](
	[BrowserDistributionId] [int] IDENTITY(1,1) NOT NULL,
	[BrowserName] [varchar](50) NOT NULL,
	[BrowserVersion] [varchar](50) NOT NULL,
	[StartingNumber] [float] NOT NULL,
 CONSTRAINT [PK_BrowserDistribution] PRIMARY KEY CLUSTERED 
(
	[BrowserDistributionId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BrowserDistribution] ON
INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (1, N'MSIE', N'8.0', 0.223238)
INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (2, N'MSIE', N'11.0', 0.354736)
INSERT [dbo].[BrowserDistribution] ([BrowserDistributionId], [BrowserName], [BrowserVersion], [StartingNumber]) VALUES (3, N'Chrome', N'32.0', 0.45603)
SET IDENTITY_INSERT [dbo].[BrowserDistribution] OFF
/****** Object:  Default [DF_CMSSoftware_Share]    Script Date: 05/17/2014 01:22:08 ******/
ALTER TABLE [dbo].[CMSSoftware] ADD  CONSTRAINT [DF_CMSSoftware_Share]  DEFAULT ((0.0)) FOR [Share]
GO
